name: Book Review Recommendation CI/CD for AKS

env:
  AZURE_CONTAINER_REGISTRY: azurebookreviewacr.azurecr.io
  AZURE_CONTAINER_REGISTRY_USERNAME: azurebookreviewacr

on:
  push:
    branches:
      - main
    paths:
      - book-review-recommended-backend/**
  workflow_dispatch:

# Required for OIDC authentication
permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Login to Azure using OIDC
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 
    - name: Login to Azure Container Registry
      run: |
        az acr login --name azurebookreviewacr
    - name: Build and push recommendation image to Azure Container Registry
      run: | 
        cd book-review-recommended-backend
        docker build -t ${{ env.AZURE_CONTAINER_REGISTRY }}/book-review-recommended-backend:${{ github.sha }} .
        docker push ${{ env.AZURE_CONTAINER_REGISTRY }}/book-review-recommended-backend:${{ github.sha }}
    - name: Deploy to AKS
      run: |
        az aks get-credentials --resource-group rg-book-review-prod --name azurebookreview-aks
        kubectl set image deployment/book-review-recommended-backend-deployment book-review-recommended-backend=${{ env.AZURE_CONTAINER_REGISTRY }}/book-review-recommended-backend:${{ github.sha }} -n default
        kubectl rollout status deployment/book-review-recommended-backend-deployment -n default  