name: Book Review App CI/CD to Azure App Service
  
env:
  AZURE_CONTAINER_REGISTRY: azurebookreviewacr.azurecr.io
  AZURE_CONTAINER_REGISTRY_USERNAME: azurebookreviewacr

on:
  push:
    branches:
      - main
    paths:
      - book-review-app/**
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ env.AZURE_CONTAINER_REGISTRY }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
    - name: Build and push frontend image to Azure Container Registry
      run: |
        cd book-review-app
        docker build -t ${{ env.AZURE_CONTAINER_REGISTRY }}/book-review-frontend:${{ github.sha }} .
        docker push ${{ env.AZURE_CONTAINER_REGISTRY }}/book-review-frontend:${{ github.sha }}
    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v2
      with:
        app-name: azurebookreview
        images: ${{ env.AZURE_CONTAINER_REGISTRY }}/book-review-frontend:${{ github.sha }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        